.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec.lock

node_modules/
npm-debug.log*
functions/lib/
functions/.env

.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

.DS_Store
.idea/
.vscode/
*.iml
